.container {
  position: relative;
  width: auto;
  max-width: 1000px;
  height: 100dvh;
  display: flex;
  justify-content: center;
  margin-inline: auto;
  background-color: black;
  overflow: hidden;
}

.container img {
  width: 100%;
  height: 100%;
  min-height: 100svh;
  max-height: 100svh;
  display: block;
  vertical-align: middle;
  object-fit: contain;
  /* object-fit: cover; */
  object-position: center;
}

.controls-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  z-index: 100;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
  padding-bottom: 1rem;
}