@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');
@import "tailwindcss";


html,
body {
  background-color: #000;
  color: #fff;
}

.waiting {
  filter: blur(1px);
  -webkit-filter: blur(1px);
  .loader-container {
    display: flex;
  }
}